<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ css('https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css') }}
  {{ css('main') }}
  <title>Iot-xiangyu</title>
</head>
<body>
  @!include('partials.navbar-edit')
  @!section('content')

  {{ script('https://cdn.bootcss.com/jquery/3.3.1/jquery.js') }}
  {{ script('https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js') }}
  {{ script('https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js') }}
  {{ script('https://use.fontawesome.com/releases/v5.0.11/js/all.js') }}
  {{ script('main') }}
</body>
</html>
